<h1 class="mt-4">Welcome <%= user.name %> :)</h1> <br>
<h5 class="mt-4">Welcome to Parth's website!</h5> <br><br>
<a href="https://epidemic-stats.com/" class="btn btn-success">Click here to see Covid-19 stats</a> <br> <br>
<a href="/users/logout" class="btn btn-primary">Logout</a>
